<div class="contenedor-acceso">
  <div class="caja-acceso">
    <div class="cabecera-acceso">
      <div class="logo-acceso"></div>
      <h1 class="titulo-acceso">Acceso al Examen</h1>
      <p class="subtitulo-acceso">
        Introduce el código de acceso proporcionado por tu profesor
      </p>
    </div>
    
    <form class="formulario-acceso">
      <div class="grupo-formulario">
        <label for="examCode" class="etiqueta-formulario requerido">Código del examen</label>
        <input 
          type="text" 
          id="examCode" 
          class="entrada-formulario entrada-codigo-acceso" 
          placeholder="ABC123"
          maxlength="6"
        >
      </div>
      
      <div class="grupo-formulario">
        <label for="studentName" class="etiqueta-formulario requerido">Tu nombre completo</label>
        <input type="text" id="studentName" class="entrada-formulario" placeholder="Ej: Fernando Collantes">
      </div>
      
      <div class="grupo-formulario">
        <label for="studentEmail" class="etiqueta-formulario requerido">Tu correo electrónico</label>
        <input type="email" id="studentEmail" class="entrada-formulario" placeholder="tu@email.com">
      </div>
      
      <button [routerLink]="['/alumno/realizar-examen']" class="boton boton-primario">
  Acceder al Examen
</button>
      
      <div class="caja-info">
        <p>
          <strong>Importante:</strong> Una vez inicies el examen, el tiempo comenzará a correr. 
        </p>
      </div>
    </form>
  </div>
</div>