<div class="contenedor-acceso">
  <div class="caja-acceso">
    <div class="cabecera-acceso">
      <div class="logo-acceso"></div>
      <h1 class="titulo-acceso">Acceso al Examen</h1>
      <p class="subtitulo-acceso">
        Introduce el código de acceso proporcionado por tu profesor
      </p>
    </div>

    <form class="formulario-acceso" [formGroup]="accesoForm" (ngSubmit)="onSubmit()">

      <div class="grupo-formulario">
        <label for="examCode" class="etiqueta-formulario requerido">Código del examen</label>
        <input type="text" id="examCode" formControlName="examCode" class="entrada-formulario entrada-codigo-acceso"
          placeholder="ABC123" maxlength="6">
        <small *ngIf="accesoForm.get('examCode')?.touched && accesoForm.get('examCode')?.invalid"
          style="color: var(--error);">
          El código debe tener 6 caracteres.
        </small>
      </div>

      <div class="grupo-formulario">
        <label for="studentName" class="etiqueta-formulario requerido">Tu nombre completo</label>
        <input type="text" id="studentName" formControlName="studentName" class="entrada-formulario"
          placeholder="Ej: Fernando Collantes">
      </div>

      <div class="grupo-formulario">
        <label for="studentEmail" class="etiqueta-formulario requerido">Tu correo electrónico</label>
        <input type="email" id="studentEmail" formControlName="studentEmail" class="entrada-formulario"
          placeholder="fernandocollantes.24@campuscamara.es">
        <small *ngIf="accesoForm.get('studentEmail')?.touched && accesoForm.get('studentEmail')?.invalid"
          style="color: var(--error);">
          Introduce un email válido.
        </small>
      </div>

      <button type="submit" class="boton boton-primario boton-grande" style="width: 100%;"
        [disabled]="accesoForm.invalid">
        Acceder al Examen
      </button>

      <div class="caja-info">
        <p>
          <strong>Importante:</strong> Una vez inicies el examen, el tiempo comenzará a correr.
          Asegúrate de tener buena conexión a internet y tiempo suficiente para completarlo.
        </p>
      </div>
    </form>
  </div>
</div>